.Form-edit form {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"],
button {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
}

.button {
  background-color: #f44336;
  color: white;
  margin-right: 10px;
}

.button:hover,
.input[type="submit"]:hover {
  opacity: 0.8;
}

.Button_cancel {
  background-color: blue;
  color: white;
}