.book-list {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    
}
.book-list p{
    font-size: 20px;
    text-align: center;
    color: crimson;
}
.book-list h2{
    text-align: center;
    font-size: 20px;
    color: rgb(0, 14, 202);
}